Repository portainer/portainer, pull requests merged in 2018-09, with the labels that each got.

#2161 feat(webhooks): add webhooks
  api/bolt/datastore.go
  api/bolt/webhook/webhook.go
  api/cmd/portainer/main.go
  api/errors.go
  api/http/handler/handler.go
  api/http/handler/webhooks/handler.go
  api/http/handler/webhooks/webhook_create.go
  api/http/handler/webhooks/webhook_delete.go
  api/http/handler/webhooks/webhook_execute.go
  api/http/handler/webhooks/webhook_list.go
  api/http/server.go
  api/portainer.go
  app/constants.js
  app/docker/components/datatables/services-datatable/actions/servicesDatatableActionsController.js
  app/docker/views/services/create/createServiceController.js
  app/docker/views/services/create/createservice.html
  app/docker/views/services/edit/service.html
  app/docker/views/services/edit/serviceController.js
  app/portainer/helpers/webhookHelper.js
  app/portainer/models/webhook.js
  app/portainer/rest/webhooks.js
  app/portainer/services/api/webhookService.js
Labels: contrib/func-review-approved, contrib/ready-to-merge, contrib/tech-review-approved, contrib/tests-validated, docker-image-available

#2235 fix(snapshots): close Docker client after snapshot
  api/docker/snapshotter.go
Labels: docker-image-available, status/awaiting-feedback

#2247 fix(api): change user password update flow
  api/http/handler/users/handler.go
  api/http/handler/users/user_password.go
  api/http/handler/users/user_update_password.go
  api/http/server.go
  app/portainer/__module.js
  app/portainer/rest/user.js
  app/portainer/services/api/userService.js
  app/portainer/views/account/account.html
  app/portainer/views/account/accountController.js
  app/portainer/views/auth/authController.js
  app/portainer/views/update-password/updatePassword.html
  app/portainer/views/update-password/updatePasswordController.js
Labels: area/security

#2273 feat(container-details): update container-restart-policy component
  app/docker/components/container-restart-policy/container-restart-policy-controller.js
  app/docker/components/container-restart-policy/container-restart-policy.html
  app/docker/views/containers/edit/container.html
  app/docker/views/containers/edit/containerController.js
Labels: area/container-details

#2276 chore(build): update build script and add grunt yarn script
  build.sh
  package.json
Labels: area/build-system

#2297 feat(api): update client.Get with a new timeout parameter and default…
  api/http/client/client.go
  api/http/handler/motd/motd.go
  api/http/handler/templates/template_list.go
Labels: area/backend, kind/enhancement

#2209 fix(authentication): escape LDAP filters
  api/ldap/ldap.go
Labels: status/5-merge

#2303 feat(endpoint-creation): add requirement message for agent endpoint
  app/portainer/views/endpoints/create/createEndpointController.js
  app/portainer/views/endpoints/create/createendpoint.html
Labels: area/endpoint-creation, kind/enhancement

#2313 containersDatable: add containers name if error on executeActionOnCon…
  app/docker/components/datatables/containers-datatable/actions/containersDatatableActionsController.js
Labels: area/containers, kind/enhancement, status/5-merge

#2312 Enable selection of network on template creation
  app/portainer/models/template.js
  app/portainer/views/templates/edit/templateController.js
Labels: status/5-merge

#2285 Support searching into multiple endpoint fields in the home view
  app/portainer/components/endpoint-list/endpoint-list-controller.js
  app/portainer/components/endpoint-list/endpoint-list.js
  app/portainer/components/endpoint-list/endpointList.html
Labels: status/5-merge
