Repository portainer/portainer, pull requests merged in 2018-07, with the labels that each got.

#2023 feat(services): default value for update image to false when updating…
  app/portainer/services/modalService.js
Labels: area/services, kind/enhancement

#2024 fix(cli): fix default template file path on Windows
  api/cli/defaults_windows.go
Labels: area/templates, platform/windows

#1972 feat(log-viewer): Split auto scrolling & log refresh + wrap lines checkbox
  app/docker/components/log-viewer/logViewer.html
  app/docker/components/log-viewer/logViewerController.js
  assets/css/app.css
Labels: contrib/func-review-approved, contrib/ready-to-merge, contrib/tech-review-approved, contrib/tests-validated

#2047 Make Images and Volumes datatable more readable
  app/docker/components/datatables/images-datatable/imagesDatatable.html
  app/docker/components/datatables/volumes-datatable/volumesDatatable.html
Labels: area/images, area/volumes, contrib/func-review-approved, contrib/ready-to-merge, contrib/tech-review-approved, contrib/tests-validated, kind/enhancement

#2018 feat(api): Add npipe support
  api/cli/cli.go
  api/docker/client.go
  api/http/handler/endpoints/endpoint_create.go
  api/http/handler/websocket/websocket_exec.go
  api/http/handler/websocket/websocket_exec_linux.go
  api/http/handler/websocket/websocket_exec_windows.go
  api/http/proxy/factory.go
  api/http/proxy/local.go
  api/http/proxy/local_linux.go
  api/http/proxy/local_windows.go
  api/http/proxy/manager.go
  api/swagger.yaml
  app/portainer/services/api/endpointService.js
  app/portainer/views/endpoints/edit/endpointController.js
  app/portainer/views/init/endpoint/initEndpoint.html
  app/portainer/views/init/endpoint/initEndpointController.js
  build/windows/nanoserver/Dockerfile
Labels: contrib/func-review-approved, contrib/ready-to-merge, contrib/tech-review-approved, contrib/tests-validated

#2052 fix(style): wrap long text in tables cells (#1920)
  app/azure/components/datatables/containergroups-datatable/containerGroupsDatatable.html
  app/docker/components/datatables/configs-datatable/configsDatatable.html
  app/docker/components/datatables/container-networks-datatable/containerNetworksDatatable.html
  app/docker/components/datatables/container-processes-datatable/containerProcessesDatatable.html
  app/docker/components/datatables/containers-datatable/containersDatatable.html
  app/docker/components/datatables/events-datatable/eventsDatatable.html
  app/docker/components/datatables/images-datatable/imagesDatatable.html
  app/docker/components/datatables/networks-datatable/networksDatatable.html
  app/docker/components/datatables/node-tasks-datatable/nodeTasksDatatable.html
  app/docker/components/datatables/nodes-datatable/nodesDatatable.html
  app/docker/components/datatables/secrets-datatable/secretsDatatable.html
  app/docker/components/datatables/service-tasks-datatable/serviceTasksDatatable.html
  app/docker/components/datatables/services-datatable/servicesDatatable.html
  app/docker/components/datatables/tasks-datatable/tasksDatatable.html
  app/docker/components/datatables/volumes-datatable/volumesDatatable.html
  app/portainer/components/datatables/endpoints-datatable/endpointsDatatable.html
  app/portainer/components/datatables/endpoints-snapshot-datatable/endpointsSnapshotDatatable.html
  app/portainer/components/datatables/groups-datatable/groupsDatatable.html
  app/portainer/components/datatables/registries-datatable/registriesDatatable.html
  app/portainer/components/datatables/stacks-datatable/stacksDatatable.html
  app/portainer/components/datatables/tags-datatable/tagsDatatable.html
  app/portainer/components/datatables/teams-datatable/teamsDatatable.html
  app/portainer/components/datatables/users-datatable/usersDatatable.html
  assets/css/app.css
Labels: contrib/func-review-approved, contrib/ready-to-merge, contrib/tech-review-approved, contrib/tests-validated

#2042 feat(ldap): Auto create and assign LDAP users
  api/bolt/migrator/migrate_dbversion12.go
  api/bolt/migrator/migrator.go
  api/cmd/portainer/main.go
  api/errors.go
  api/http/handler/auth/authenticate.go
  api/http/handler/auth/handler.go
  api/http/handler/users/user_delete.go
  api/http/server.go
  api/ldap/ldap.go
  api/portainer.go
  api/swagger.yaml
  app/portainer/models/settings/ldapSettings.js
  app/portainer/views/settings/authentication/settingsAuthentication.html
  app/portainer/views/settings/authentication/settingsAuthenticationController.js
Labels: contrib/func-review-approved, contrib/ready-to-merge, contrib/tech-review-approved, contrib/tests-validated

#2060 feat(home): update endpoint list
  api/cmd/portainer/main.go
  api/cron/scheduler.go
  api/http/handler/endpoints/endpoint_create.go
  api/http/handler/endpoints/handler.go
  api/http/server.go
  app/portainer/components/datatables/endpoints-snapshot-datatable/endpointsSnapshotDatatable.html
  app/portainer/components/datatables/endpoints-snapshot-datatable/endpointsSnapshotDatatable.js
  app/portainer/components/datatables/endpoints-snapshot-datatable/snapshot-details/snapshotDetails.html
  app/portainer/components/datatables/endpoints-snapshot-datatable/snapshot-details/snapshotDetails.js
  app/portainer/components/endpoint-list/endpoint-item/endpointItem.html
  app/portainer/components/endpoint-list/endpoint-item/endpointItem.js
  app/portainer/components/endpoint-list/endpoint-list.js
  app/portainer/components/endpoint-list/endpointList.html
  app/portainer/components/template-list/template-item/templateItem.html
  app/portainer/components/template-list/templateList.html
  app/portainer/services/fileUpload.js
  app/portainer/views/home/home.html
  assets/css/app.css
Labels: area/home, kind/style

#2061 feat(agent): support agent deployed on standalone engine endpoint
  app/docker/helpers/infoHelper.js
  app/docker/views/containers/containers.html
  app/docker/views/containers/create/createcontainer.html
  app/docker/views/dashboard/dashboard.html
  app/docker/views/images/build/buildimage.html
  app/docker/views/images/images.html
  app/docker/views/networks/create/createnetwork.html
  app/docker/views/networks/networks.html
  app/docker/views/volumes/create/createvolume.html
  app/docker/views/volumes/volumes.html
  app/portainer/views/stacks/edit/stack.html
Labels: area/agent, kind/enhancement

#2068 feat(api): add a setting to toggle automatic user provisioning when u…
  api/bolt/migrator/migrate_dbversion12.go
  api/bolt/migrator/migrator.go
  api/cmd/portainer/main.go
  api/http/handler/auth/authenticate.go
  api/http/handler/settings/settings_public.go
  api/portainer.go
  api/swagger.yaml
  app/portainer/models/settings.js
  app/portainer/models/settings/settings.js
  app/portainer/views/settings/authentication/settingsAuthentication.html
Labels: area/authentication, area/settings, authentication/ldap, kind/enhancement

#2063 feat(stack-creation): add the ability to specify git reference (#1948)
  api/git/git.go
  api/http/handler/stacks/create_compose_stack.go
  api/http/handler/stacks/create_swarm_stack.go
  api/http/handler/stacks/git.go
  api/portainer.go
  api/swagger.yaml
  app/portainer/services/api/stackService.js
  app/portainer/views/stacks/create/createStackController.js
  app/portainer/views/stacks/create/createstack.html
Labels: contrib/func-review-approved, contrib/ready-to-merge, contrib/tech-review-approved, contrib/tests-validated

#2079 style(dashboard): update dashboard information
  api/http/handler/endpoints/endpoint_inspect.go
  api/http/handler/endpoints/handler.go
  api/swagger.yaml
  app/docker/filters/filters.js
  app/docker/views/dashboard/dashboard.html
  app/docker/views/dashboard/dashboardController.js
Labels: area/dashboard, kind/style

#2080 feat(home): add the ability to refresh endpoint information
  api/http/handler/endpoints/endpoint_snapshot.go
  api/http/handler/endpoints/handler.go
  app/portainer/components/endpoint-list/endpoint-list.js
  app/portainer/components/endpoint-list/endpointList.html
  app/portainer/rest/endpoint.js
  app/portainer/services/api/endpointService.js
  app/portainer/services/modalService.js
  app/portainer/views/home/home.html
  app/portainer/views/home/homeController.js
Labels: area/home

#2073 feat(images): add the ability to export/import Docker images (#935)
  app/docker/__module.js
  app/docker/components/datatables/images-datatable/imagesDatatable.html
  app/docker/components/datatables/images-datatable/imagesDatatable.js
  app/docker/helpers/imageHelper.js
  app/docker/rest/image.js
  app/docker/rest/response/image.js
  app/docker/services/imageService.js
  app/docker/views/images/build/buildimage.html
  app/docker/views/images/edit/image.html
  app/docker/views/images/edit/imageController.js
  app/docker/views/images/images.html
  app/docker/views/images/imagesController.js
  app/docker/views/images/import/importImageController.js
  app/docker/views/images/import/importimage.html
  app/portainer/services/fileUpload.js
  app/portainer/services/modalService.js
Labels: contrib/func-review-approved, contrib/ready-to-merge, contrib/tech-review-approved, contrib/tests-validated
