Repository portainer/portainer, pull requests merged in 2018-02, with the labels that each got.

#1659 #1652 style(containers): update quick actions tooltips messages
  app/docker/components/datatables/containers-datatable/containersDatatable.html
Labels: contrib/func-review-approved, contrib/ready-to-merge, contrib/tech-review-approved, contrib/tests-validated

#1674 refactor(code-editor): introduce code-editor component
  app/docker/views/configs/create/createConfigController.js
  app/docker/views/configs/create/createconfig.html
  app/docker/views/configs/edit/config.html
  app/docker/views/configs/edit/configController.js
  app/docker/views/stacks/create/createStackController.js
  app/docker/views/stacks/create/createstack.html
  app/docker/views/stacks/edit/stack.html
  app/docker/views/stacks/edit/stackController.js
  app/portainer/components/code-editor/code-editor.js
  app/portainer/components/code-editor/codeEditor.html
  app/portainer/components/code-editor/codeEditorController.js
  app/portainer/services/stateManager.js
  vendor.yml
Labels: kind/refactor

#1672 feat(image-build): add the ability to build images
  api/archive/tar.go
  api/http/proxy/build.go
  api/http/proxy/transport.go
  app/docker/__module.js
  app/docker/components/datatables/images-datatable/imagesDatatable.html
  app/docker/models/image.js
  app/docker/rest/build.js
  app/docker/rest/commit.js
  app/docker/rest/containerCommit.js
  app/docker/services/buildService.js
  app/docker/views/containers/edit/containerController.js
  app/docker/views/images/build/buildImageController.js
  app/docker/views/images/build/buildimage.html
  app/portainer/services/codeMirror.js
  app/portainer/services/fileUpload.js
  assets/css/app.css
Labels: docker-image-available, status/awaiting-feedback

#1680 feat(templates): add support for the name property
  app/docker/models/stackTemplate.js
  app/docker/models/template.js
  app/docker/views/templates/templatesController.js
Labels: area/templates, kind/enhancement
