Repository portainer/portainer, pull requests merged in 2019-09, with the labels that each got.

#3140 refactor(build-system): clarify build system usage through yarn
  build/build_binary_azuredevops.ps1
  build/build_binary_azuredevops.sh
  gruntfile.js
  package.json
Labels: area/build-system, kind/refactor

#3064 fix(stack): Skip SSL Verification
  api/cmd/portainer/main.go
  api/git/git.go
Labels: area/stack-creation

#3191 feat(exec): add DEBUG statement when validating license
  api/exec/extension.go
Labels: area/api, kind/enhancement
