Repository portainer/portainer, pull requests merged in 2019-02, with the labels that each got.

#2671 fix(home): fix an issue when trying to connect to an Azure ACI endpoint
  app/portainer/views/home/homeController.js
Labels: area/home, bug/confirmed, kind/bug, platform/Azure

#2684 Create container with Auto Remove option
  app/docker/views/containers/create/createContainerController.js
  app/docker/views/containers/create/createcontainer.html
Labels: area/container-creation, kind/enhancement

#2664 feat2645: registries accessibility
  api/http/handler/extensions/handler.go
  api/http/handler/registries/handler.go
  api/http/handler/registries/proxy.go
  api/http/handler/registries/registry_inspect.go
  api/http/security/authorization.go
  api/http/security/bouncer.go
  api/http/security/filter.go
  app/extensions/registry-management/views/repositories/registryRepositories.html
  app/extensions/registry-management/views/repositories/registryRepositoriesController.js
  app/portainer/components/datatables/registries-datatable/registriesDatatable.html
  app/portainer/views/registries/registries.html
  app/portainer/views/registries/registriesController.js
  app/portainer/views/sidebar/sidebar.html
Labels: status/1-functional-review

#2745 feat(volumes): Show Volume Created column
  app/docker/components/datatables/volumes-datatable/volumesDatatable.html
  app/docker/models/volume.js
  app/docker/views/volumes/edit/volume.html
Labels: area/volume-details, area/volumes, kind/enhancement
